<h1>Venner</h1>

<table>
    <tr>
        <th>Navn</th>
        <th>Efternavn</th>
    </tr>

    <% @brugers.each do |bruger| %>
        <% if bruger.id.to_i != @bruger_id.to_i %>
            <tr>
                <td><%= link_to bruger.navn, begivenheds_path(:id => @bruger_id, :ven_id => bruger.id) %></td>
                <td><%= bruger.efternavn %></td>
            </tr>
        <% end %>
    <% end %>
</table>

<br />