<h1>Min sexy profil</h1>

<table>
  <tr>
    <th>Mine begivenheder</th>
  </tr>

<% @begivenheds.each do |begivenhed| %>
  <tr>
    <td><%= link_to begivenhed.begivenhed, edit_begivenhed_path(begivenhed) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Ny begivenhed', new_begivenhed_path %>
