<h1>Din vens begivenheder</h1>

<table>
  <tr>
    <th> <%= @ven.navn + 's begivenheder' %></th>
  </tr>

<% @ven_begivenheds.each do |begivenhed| %>
  <tr>
    <td><%= link_to begivenhed.begivenhed, onskes_path(:id => @bruger, :ven_id => @ven_id, :beg_id =>begivenhed.id) %></td>
  </tr>
<% end %>
</table>

<br />
