<!DOCTYPE html>
<html>
    <head>
      <title>Gaveideer</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
    </head>
    <body style="padding-top: 40px;">

        <div style="z-index: 5;" class="topbar-wrapper">
            <div data-dropdown="dropdown" class="topbar">
              <div class="topbar-inner">
                <div class="container">
                  <h3><a href="#">Gaveideer</a></h3>
                  <ul class="nav">
                    <li class="active"><a href="#">Profil</a></li>
                    <li><a href="#">Dine begivenheder</a></li>
                    <li><a href="#">Venner</a></li>
                    <li><a href="#">Ny begivenhed</a></li>
                  </ul>
                  <ul class="nav secondary-nav">
                    <form action="" class="pull-left">
                        <input type="text" placeholder="Search">
                    </form>
                  </ul>
                </div>
              </div><!-- /topbar-inner -->
            </div><!-- /topbar -->
        </div>
        <%= yield %>

    </body>
</html>
